@import "tailwindcss";




/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.layout{
  height: 100vh;
  background-image: linear-gradient(to bottom, #ffffff,#bae6fd,#fdfdfd );
}

.root-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.logo{
  font-size: 16px;
  font-weight: 600;
}

.links{
  display: flex;
  gap: 16px;
  align-items: center;
}

.link-items{
  text-decoration: none;
  color: #6b7280;
  font-weight: 200;
  font-size: 14px;
}

.link-items:hover{
  color: #000000;
  transition: color 0.2s ease-out;
}

.btn{
  color:white;
  background: #2b69f0;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);;
}

.hero-root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.badge{
  margin-top: 80px;
  font-size: 12px;
  font-weight: 600;
  color: #313131;
  border: 1px #d1d5db solid;
  border-radius: 20px;
  padding: 3px 7px 3px 11px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title{
  margin-top: 50px;
  font-size: 50px;
  font-weight: 600;
  color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-sub-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #6b7280;
}

.btns{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  gap: 5px;
}

.btn1{
  background:#2b69f0;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 0px solid;
}

.btn2{
  padding: 10px 7px 10px 11px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 0px solid;
  display: flex;
  background-color: transparent;

}

.btn2:hover{
  background-color: #e5e7eba7;
} */
